<!DOCTYPE html>
<html>
  <head>
    <title>{%block title%}AMI{%endblock%}</title>

    <link href="/static/styles/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/static/functions/functions.js"></script>
  </head>

  <body>
    <div id="topnav">
      <button id="homebutton">
        <a href='/'>Home</a>
      </button>
      <br>
        Databases: {{dbnum}}
      <br>
        Collections: {{colnum}}
      <br>
    </div>
    
    <div id="sidenav"> {% block sidenav %}
      <div id="dropdown">
        <!-- Databases go here -->
        <div id="dropdown-content" >
          <!-- Collections go here -->
        </div>
      </div>
      <script>
          DBSButtons({{dbs | safe }}, {{colls | safe }},  "{{location}}")
      </script>
      {%endblock%}
    </div>

    
    <div id='route'>
      {%-block route -%}
      
      {%-endblock-%}
    </div>
    
    
    <div id='tabs'>
        {%-block tabs -%}

      <button class='navbutton'>
        <a id = dbbutton>
          Database
        </a>
      </button>
      
      <button class='navbutton'>
        <a id = schbutton>
          Schema
        </a>
      </button>
      
      <script>
        assignbuttonhref("{{db}}", "{{coll}}");
      </script>
      
      {%-endblock-%}
    </div>
    
    
    <div id='query'>
      {%-block query -%}
      
      {%-endblock-%}
    </div>

    <div id="main"> 
      {%- block main-%}
      Welcome to the Aqueti Mongo Interface. <br>
      Select a database on the left to get started.
      {%- endblock -%}
    </div>
    
  </body>
  </html>