{% extends 'index.html' %}
{%block title%}{{title}}{%endblock%}

{%block route%}
    {{route}}
{%endblock%}

{%block tabs%}
    {{super()}}
{%endblock%}

<!-- Change query to edit schema option -->

{%block query%}
    <button type="button" id="editbutton" class="navbutton"> 
        Edit 
    </button>
    <script>
        window.onload = function() {
            document.getElementById("editbutton").onclick = function() {
                openeditschema("{{db}}","{{coll}}")
            };
        }
    </script>
{%endblock%}

{%block main %}

<div id="submain">
<div id="title">Schema</div>
</div>

<script>
    showSchema({{schema | safe}});
</script>

<div id="sneakyschema">
    {{schema | safe}}
</div>

{%endblock%}

<!-- A typical schema for reference

{'$jsonSchema': {
    'required': 
        ['name', 'year', 'major', 'gpa'], 
    'properties': 
        {'major': {'enum': ['Math', 'English', 'Computer Science', 'History', None], 'description': 'can only be one of the enum values and is required'}, 
        'gpa': {'minimum': 0.0, 'description': 'must be a double and is required', 'bsonType': ['double']},
        'year': {'exclusiveMaximum': False, 'minimum': 2017.0, 'maximum': 3017.0, 'description': 'must be an integer in [ 2017, 3017 ] and is required', 'bsonType': 'int'}, 
        'name': {'description': 'must be a string and is required', 'bsonType': 'string'},
        'gender': {'description': 'must be a string and is not required', 'bsonType': 'string'}, 
        'address.street': {'description': 'must be a string and is required', 'bsonType': 'string'}, 
        'address.city': {'description': 'must be a string and is required', 'bsonType': 'string'}}, 
    'bsonType': 
        'object'
    }
}

-->